/* line 4, /Users/lawrenceabaeo/Documents/Sites/name_generator_01/css/my-styles.scss */
html {
  height: 100%;
  position: relative; }

/* line 9, /Users/lawrenceabaeo/Documents/Sites/name_generator_01/css/my-styles.scss */
body {
  background-color: #124e72;
  font-family: 'Ubuntu', sans-serif;
  height: 100%; }

/* line 15, /Users/lawrenceabaeo/Documents/Sites/name_generator_01/css/my-styles.scss */
.main, .description {
  background-color: #0B3046;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  color: #E0E0E0;
  font-weight: 300;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  max-width: 600px;
  border: 1px solid transparent; }

/* line 31, /Users/lawrenceabaeo/Documents/Sites/name_generator_01/css/my-styles.scss */
.main {
  padding-bottom: 15px; }

/* line 36, /Users/lawrenceabaeo/Documents/Sites/name_generator_01/css/my-styles.scss */
h1 {
  font-size: 3em; }

/* line 40, /Users/lawrenceabaeo/Documents/Sites/name_generator_01/css/my-styles.scss */
.main h1, .main h2, .main p {
  text-align: center; }

/* line 44, /Users/lawrenceabaeo/Documents/Sites/name_generator_01/css/my-styles.scss */
a {
  color: #E0E0E0; }

/* line 48, /Users/lawrenceabaeo/Documents/Sites/name_generator_01/css/my-styles.scss */
.description {
  height: 100%; }

/* line 52, /Users/lawrenceabaeo/Documents/Sites/name_generator_01/css/my-styles.scss */
.button-wrapper {
  text-align: center; }

/**
.generate-button {
  background-color: darkgreen;
  border-radius: 3px;
}
**/
/* line 64, /Users/lawrenceabaeo/Documents/Sites/name_generator_01/css/my-styles.scss */
.generate-button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 5px 24px;
  border: 1px solid #20af5c;
  border-radius: 8px;
  background: #34ff98;
  background: -webkit-gradient(linear, left top, left bottom, from(#34ff98), to(#20af5c));
  background: -moz-linear-gradient(top, #34ff98, #20af5c);
  background: linear-gradient(to bottom, #34ff98, #20af5c);
  text-shadow: #177d42 1px 1px 1px;
  color: #ffffff;
  text-decoration: none;
  min-width: 180px;
  margin-bottom: 5px; }

/* line 83, /Users/lawrenceabaeo/Documents/Sites/name_generator_01/css/my-styles.scss */
.generate-button:hover,
.generate-button:focus {
  border: 1px solid #2dfa84;
  background: #3effb6;
  background: -webkit-gradient(linear, left top, left bottom, from(#3effb6), to(#26d26e));
  background: -moz-linear-gradient(top, #3effb6, #26d26e);
  background: linear-gradient(to bottom, #3effb6, #26d26e);
  color: #ffffff;
  text-decoration: none; }

/* line 92, /Users/lawrenceabaeo/Documents/Sites/name_generator_01/css/my-styles.scss */
.generate-button:active {
  background: #20af5c;
  background: -webkit-gradient(linear, left top, left bottom, from(#20af5c), to(#20af5c));
  background: -moz-linear-gradient(top, #20af5c, #20af5c);
  background: linear-gradient(to bottom, #20af5c, #20af5c); }

/* 
.close-button {
  background-color: gray;
  border-radius: 3px;
}
*/
/* line 106, /Users/lawrenceabaeo/Documents/Sites/name_generator_01/css/my-styles.scss */
.close-button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 5px 24px;
  border: 1px solid #5e6270;
  border-radius: 8px;
  background: #989fb6;
  background: -webkit-gradient(linear, left top, left bottom, from(#989fb6), to(#5e6270));
  background: -moz-linear-gradient(top, #989fb6, #5e6270);
  background: linear-gradient(to bottom, #989fb6, #5e6270);
  text-shadow: #3b3d46 1px 1px 1px;
  color: #ffffff;
  text-decoration: none;
  min-width: 180px;
  margin-bottom: 5px; }

/* line 125, /Users/lawrenceabaeo/Documents/Sites/name_generator_01/css/my-styles.scss */
.close-button:hover,
.close-button:focus {
  border: 1px solid #757a8c;
  background: #b6bfda;
  background: -webkit-gradient(linear, left top, left bottom, from(#b6bfda), to(#717686));
  background: -moz-linear-gradient(top, #b6bfda, #717686);
  background: linear-gradient(to bottom, #b6bfda, #717686);
  color: #ffffff;
  text-decoration: none; }

/* line 134, /Users/lawrenceabaeo/Documents/Sites/name_generator_01/css/my-styles.scss */
.close-button:active {
  background: #5e6270;
  background: -webkit-gradient(linear, left top, left bottom, from(#5e6270), to(#5e6270));
  background: -moz-linear-gradient(top, #5e6270, #5e6270);
  background: linear-gradient(to bottom, #5e6270, #5e6270); }

/* line 144, /Users/lawrenceabaeo/Documents/Sites/name_generator_01/css/my-styles.scss */
.results {
  background-color: black;
  border: 1px solid transparent;
  text-align: center;
  width: 100%; }

/* line 151, /Users/lawrenceabaeo/Documents/Sites/name_generator_01/css/my-styles.scss */
.report-header {
  color: #E0E0E0; }

/* line 155, /Users/lawrenceabaeo/Documents/Sites/name_generator_01/css/my-styles.scss */
.welcome-header {
  color: #E49C62; }

/* line 159, /Users/lawrenceabaeo/Documents/Sites/name_generator_01/css/my-styles.scss */
.generated-name {
  color: white;
  font-size: 3em;
  -webkit-animation: name-fade-in 1s;
  -moz-animation: name-fade-in 1s;
  -o-animation: name-fade-in 1s;
  animation: name-fade-in 1s; }

@-webkit-keyframes name-fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes name-fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-o-keyframes name-fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes name-fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* Gradient transparent - color - transparent */
/* line 187, /Users/lawrenceabaeo/Documents/Sites/name_generator_01/css/my-styles.scss */
hr {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
  border: 0;
  height: 1px; }

/* line 194, /Users/lawrenceabaeo/Documents/Sites/name_generator_01/css/my-styles.scss */
blockquote.style2 {
  border-left: 3px solid #ccc;
  font: 14px/22px normal helvetica, sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  padding-left: 15px; }

@media (max-device-width: 640px) {
  /* line 205, /Users/lawrenceabaeo/Documents/Sites/name_generator_01/css/my-styles.scss */
  h1 {
    font-size: 2em; }
  /* line 206, /Users/lawrenceabaeo/Documents/Sites/name_generator_01/css/my-styles.scss */
  h2, h3 {
    font-size: 1em; } }

/*# sourceMappingURL=my-styles.css.map */