$main-blue-green: #0B3046;
$off-white-for-average-text: #E0E0E0;

html {
  height: 100%;
  position: relative;
}

body {
  background-color: lighten($main-blue-green, 10%);
  font-family: 'Ubuntu', sans-serif;
  height: 100%;
}

.main, .description {
  background-color: $main-blue-green;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  color: $off-white-for-average-text;
  font-weight: 300;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  max-width: 600px;
  border: 1px solid transparent; // setting this so that vertical margin doesn't collapse (I want the background color to stretch up and down). Vertical margins collapse without a border
  // http://stackoverflow.com/questions/4910060/css-adding-a-border-changes-the-background-color
}

.main {
  padding-bottom: 15px; 
}


h1 {
  font-size: 3em;
}

.main h1, .main h2, .main p{
  text-align: center;
}

a {
  color: $off-white-for-average-text;
}

.description {
  height: 100%;
}

.button-wrapper {
  text-align: center;
}

/**
.generate-button {
  background-color: darkgreen;
  border-radius: 3px;
}
**/

// http://buttonoptimizer.com
.generate-button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 5px 24px;
    border: 1px solid #20af5c;
    border-radius: 8px;
    background: #34ff98;
    background: -webkit-gradient(linear, left top, left bottom, from(#34ff98), to(#20af5c));
    background: -moz-linear-gradient(top, #34ff98, #20af5c);
    background: linear-gradient(to bottom, #34ff98, #20af5c);
    text-shadow: #177d42 1px 1px 1px;
    // font: normal normal bold 20px tahoma;
    color: #ffffff;
    text-decoration: none;
    min-width: 180px;
    margin-bottom: 5px;
}
.generate-button:hover,
.generate-button:focus {
    border: 1px solid #2dfa84;
    background: #3effb6;
    background: -webkit-gradient(linear, left top, left bottom, from(#3effb6), to(#26d26e));
    background: -moz-linear-gradient(top, #3effb6, #26d26e);
    background: linear-gradient(to bottom, #3effb6, #26d26e);
    color: #ffffff;
    text-decoration: none;
}
.generate-button:active {
    background: #20af5c;
    background: -webkit-gradient(linear, left top, left bottom, from(#20af5c), to(#20af5c));
    background: -moz-linear-gradient(top, #20af5c, #20af5c);
    background: linear-gradient(to bottom, #20af5c, #20af5c);
}

/* 
.close-button {
  background-color: gray;
  border-radius: 3px;
}
*/

.close-button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 5px 24px;
    border: 1px solid #5e6270;
    border-radius: 8px;
    background: #989fb6;
    background: -webkit-gradient(linear, left top, left bottom, from(#989fb6), to(#5e6270));
    background: -moz-linear-gradient(top, #989fb6, #5e6270);
    background: linear-gradient(to bottom, #989fb6, #5e6270);
    text-shadow: #3b3d46 1px 1px 1px;
    // font: normal normal bold 20px tahoma;
    color: #ffffff;
    text-decoration: none;
    min-width: 180px;
    margin-bottom: 5px;
}
.close-button:hover,
.close-button:focus {
    border: 1px solid #757a8c;
    background: #b6bfda;
    background: -webkit-gradient(linear, left top, left bottom, from(#b6bfda), to(#717686));
    background: -moz-linear-gradient(top, #b6bfda, #717686);
    background: linear-gradient(to bottom, #b6bfda, #717686);
    color: #ffffff;
    text-decoration: none;
}
.close-button:active {
    background: #5e6270;
    background: -webkit-gradient(linear, left top, left bottom, from(#5e6270), to(#5e6270));
    background: -moz-linear-gradient(top, #5e6270, #5e6270);
    background: linear-gradient(to bottom, #5e6270, #5e6270);
}




.results {
  background-color: black;
  border: 1px solid transparent;
  text-align: center;
  width: 100%;
}

.report-header {
  color: $off-white-for-average-text;
}

.welcome-header {
  color: #E49C62;
}

.generated-name {
  color: white; // pure white seems ok at the big size
  font-size: 3em;
  -webkit-animation: name-fade-in 1s;
  -moz-animation:    name-fade-in 1s;
  -o-animation:      name-fade-in 1s;
  animation:         name-fade-in 1s; 
}

@-webkit-keyframes name-fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes name-fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes name-fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes name-fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

/* Gradient transparent - color - transparent */
// From: https://css-tricks.com/examples/hrs/
hr {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));  
  border: 0;
  height: 1px;
}

// https://css-tricks.com/examples/Blockquotes/
blockquote.style2 {
  border-left: 3px solid #ccc;
  font: 14px/22px normal helvetica, sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  padding-left: 15px;
}

// http://stackoverflow.com/a/14364303
@media (max-device-width: 640px) {
  h1 { font-size: 2em; }
  h2, h3 {
    font-size: 1em;
  }
}